.newUser {
  flex: 4;
}
.newUserForm {
  display: flex;
  flex-wrap: wrap;
}
.newUserItem {
  display: flex;
  width: 400px;
  margin-top: 10px;
  flex-direction: column;
  margin-right: 20px;
}
.newUserItem > label {
  margin-bottom: 10px;
  font: 10px;
  font-weight: 600;
  color: rgb(151, 151, 151);
}
.newUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.newUserGender > input {
  margin-top: 15px;
}
.newUserGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}
.newUserSelect {
  height: 40px;
  border-radius: 5px;
}
.newUserButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}